<!doctype html>
<html>
  <head>
    <title>Email Change</title>
  </head>
  <body>
    <div>
      <h3>Dear {{username}},</h3>
      <p>Your email has been successfully changed.</p>
      <br>
      <div>Thanks</div>
    </div>
  </body>
</html>