<!doctype html>
<html>
  <head>
    <title>Change Email</title>
  </head>
  <body>
    <div>
      <h3>Dear {{username}},</h3>
      <p>You requested a email change. Please use this <a href="{{url}}">link</a> to activate your new email address. This link is valid for one day.</p>
      <br>
      <p>Thanks</p>
    </div>
  </body>
</html>