<!doctype html>
<html>
  <head>
    <title>Reset Password</title>
  </head>
  <body>
    <div>
      <h3>Dear {{username}},</h3>
      <p>You requested a password reset. Please use this <a href="{{url}}">link</a> to reset your password. This link is valid for one day.</p>
      <br>
      <p>Thanks</p>
    </div>
  </body>
</html>