<!doctype html>
<html>
  <head>
    <title>Password Reset</title>
  </head>
  <body>
    <div>
      <h3>Dear {{username}},</h3>
      <p>Your password has been successfully reset. You can now <a href="{{url}}">login</a> with your new password.</p>
      <br>
      <div>Thanks</div>
    </div>
  </body>
</html>